BasedOnStyle: LLVM

AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Allman
ColumnLimit: 0
IndentWidth: 4
SortIncludes: false
TabWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
NamespaceIndentation: All
PointerAlignment: Left
BreakConstructorInitializers: BeforeComma
Standard: Cpp11
# IndentPPDirectives: AfterHash
