*.exe -crlf -diff
*.lib -crlf -diff
*.dll -crlf -diff
*.so -crlf -diff
*.a -crlf -diff
*.png -crlf -diff
*.jpeg -crlf -diff
*.JPEG -crlf -diff
*.jpg -crlf -diff
*.JPG -crlf -diff
*.tga -crlf -diff
*.bmp -crlf -diff
*.psd -crlf -diff
*.ico -crlf -diff
*.s4d -crlf -diff
*.bvh -crlf -diff
*.c3d -crlf -diff
*.gse -crlf -diff
*.gvse -crlf -diff
*.gpg -crlf -diff
*.env3d -crlf -diff
*.mb -crlf -diff
*.max -crlf -diff
*.fbx -crlf -diff
*.skp -crlf -diff
*.SKP -crlf -diff
*.dae -crlf -diff
*.DAE -crlf -diff
*.3ds -crlf -diff
*.3DS -crlf -diff
*.nmo -crlf -diff
*.mesh -crlf -diff
*.skeleton -crlf -diff
*.ttf -crlf -diff
*.pack -crlf -diff
*.zip -crlf -diff
*.tgz -crlf -diff
*.tar -crlf -diff
*.gz -crlf -diff
*.eap -crlf -diff
*.pdf -crlf -diff
*.doc -crlf -diff
*.docx -crlf -diff
*.ppt -crlf -diff
*.pptx -crlf -diff
