.svn
.svn/
*/Binaries/
*/Intermediate/Build/
*.pdb
#*.exe
*.lib
*.dll
#*.a
*.uasset
*.ipch
*.bin
*.response
*.ini
*.pyc
*.obj
pack/
.vscode/
.vs
Binaries
Intermediate
Saved
Content/
Build/
Plugins/GolaemPlugin/Content
Plugins/GolaemPlugin/Resources/Icons/editors
Plugins/GolaemPlugin/Resources/Icons/layoutToolv7
Plugins/GolaemPlugin/Resources/Icons/libraryTool
Plugins/GolaemPlugin/Resources/Icons/buttonSimulationCacheLibrary.png
*.sln
*.umap
GPUCache
debug.log
*.code-workspace
*.vsconfig
